body {
margin-top: 3%;
text-align: center;

}

h1 {
  text-align: center;

}

a {

text-align: center;
color: green;
text-decoration: none;
margin: 1%;
border: 2px solid #fa2;
padding: 1%;
transition: all .2s;
}

a:hover {
  background: #17a;
  color:white;
}

a:visited {
  color: black;

}
